# Limpieza de datos

Vamos a aplicar el [checklist del Banco Mundial](https://dimewiki.worldbank.org/wiki/Checklist:_Data_Cleaning) en Python usando el [SciPy stack](https://www.scipy.org/stackspec.html), principalmente pandas

## 0. Prerequisitos

Aclaración: La próxima celda es para compatilibidad con Colab, NO ES RECOMENDADO realizar pip install desde un notebook.

In [1]:
import sys
in_colab = 'google.colab' in sys.modules

if in_colab:
  BASE_DIR = "https://github.com/DiploDatos/AnalisisYCuracion/raw/master/"
else:
  BASE_DIR = ".."
if 'ftfy' not in sys.modules:
    !pip install 'ftfy<5.6'

El sistema no puede encontrar el archivo especificado.

# 1. Importando los datos

# 1.1. Verificar que no hay problemas en la importación

In [4]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

Veamos de importar datos de proyectos de Kickstarter la plataforma de Crowdsourcing

In [5]:
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 11: invalid start byte

Por defecto Pandas falla si hay errores para leer datos https://pandas.pydata.org/pandas-docs/stable/io.html#error-handling

Por ahora cambiamos a un archivo más actualizado, volveremos a este error más adelante

In [6]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv")

Veamos los datos cargados en el dataframe

In [7]:
kickstarter_2018

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.00,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.00,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.00,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00
10,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.00,2013-09-09 18:19:37,0.00,failed,0,CA,0.00,0.00,2406.39
11,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.00,2013-03-09 06:42:58,12700.00,successful,100,US,12700.00,12700.00,12500.00
12,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.00,2014-09-02 17:11:50,0.00,failed,0,US,0.00,0.00,5000.00
13,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73
15,1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.00,2015-01-29 02:10:53,664.00,failed,11,US,664.00,664.00,2500.00
16,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.00,2014-10-09 22:27:52,395.00,failed,16,US,395.00,395.00,1500.00
17,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.00,2015-04-10 21:20:54,789.00,failed,20,US,789.00,789.00,3000.00
18,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.00,2012-08-02 14:11:32,250.00,successful,7,US,250.00,250.00,250.00
19,1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.00,2012-05-03 17:24:32,1781.00,failed,40,US,1781.00,1781.00,5000.00
20,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.00,2013-11-25 07:06:11,34268.00,successful,624,US,34268.00,34268.00,20000.00
21,1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.00,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10
22,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.00,2014-05-16 10:10:38,650.00,failed,12,US,650.00,650.00,3500.00
23,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.00,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55
24,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.00,2014-10-23 17:15:50,701.66,successful,66,US,701.66,701.66,175.00
25,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.00,2010-12-07 23:16:50,15827.00,successful,147,US,15827.00,15827.00,10000.00
26,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.00,2015-12-06 20:09:06,0.00,failed,0,GB,0.00,0.00,17489.65
27,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.00,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04
28,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.00,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91
29,100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.00,2017-04-03 17:11:33,57577.31,successful,840,US,10120.00,57577.31,50000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378631,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03,10000.00,2014-09-03 19:53:50,13861.50,successful,413,US,13861.50,13861.50,10000.00
378632,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05,12000.00,2014-05-06 23:50:34,0.00,failed,0,US,0.00,0.00,12000.00
378633,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13,25000.00,2014-11-13 17:16:17,11643.00,failed,97,US,11643.00,11643.00,25000.00
378634,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08,4000.00,2010-11-08 02:43:59,3531.00,failed,37,US,3531.00,3531.00,4000.00
378635,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24,800.00,2015-08-25 22:37:14,70.00,failed,5,US,70.00,70.00,800.00
378636,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17,5000.00,2014-11-17 17:50:12,5435.00,successful,78,CA,4814.88,4686.96,4311.83
378637,999878813,Ways to Look at the Moon,Shorts,Film & Video,USD,2017-10-13,10000.00,2017-08-29 06:57:28,10245.00,successful,123,US,145.00,10245.00,10000.00
378638,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15,5000.00,2014-07-15 02:10:39,18.00,failed,5,US,18.00,18.00,5000.00
378639,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03,5000.00,2015-11-03 13:04:14,5579.00,successful,103,US,5579.00,5579.00,5000.00
378640,999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11,1000.00,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00
378641,99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04,80000.00,2015-07-06 18:00:47,0.00,failed,0,CH,0.00,0.00,82207.27
378642,999929142,ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...,Tabletop Games,Games,EUR,2017-10-31,1000.00,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70
378643,999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.00,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00
378644,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15,3500.00,2015-11-23 07:33:14,6169.00,successful,120,US,6169.00,6169.00,3500.00
378645,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10,16000.00,2013-09-10 22:45:26,2738.00,failed,38,GB,4281.15,4374.99,25566.05
378646,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30,950.00,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,1732.02,950.00
378647,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14,4999.00,2012-08-15 17:11:00,980.00,failed,16,US,980.00,980.00,4999.00
378648,999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23,500.00,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00
378649,999963618,Colorado International Activism Film Festival,Narrative Film,Film & Video,USD,2017-04-09,500.00,2017-02-08 02:28:44,135.00,failed,6,US,45.00,135.00,500.00
378650,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.00,2016-07-29 15:36:29,0.00,failed,0,US,0.00,0.00,6000.00
378651,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22,5000.00,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.92,4983.69,4529.81
378652,999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28,20000.00,2015-03-29 21:30:33,21500.00,successful,36,NO,2698.97,2875.83,2675.19
378653,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16,1700.00,2012-02-15 04:31:10,25.00,failed,1,US,25.00,25.00,1700.00
378654,999975836,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,6500.00,2017-03-20 22:08:22,154.00,failed,4,US,0.00,154.00,6500.00
378655,999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20,5500.00,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.00,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.00,2011-06-22 03:35:14,155.00,failed,5,US,155.00,155.00,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.00,2010-07-01 19:40:30,20.00,failed,1,US,20.00,20.00,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.00,2016-01-13 18:13:53,200.00,failed,6,US,200.00,200.00,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.00,2011-07-19 09:07:47,524.00,failed,17,US,524.00,524.00,2000.00

Por defecto solo vemos los valores al comienzo o al final del archivo.

Tomemos una muestra al azar para ver valores más dispersos

In [8]:
# set seed for reproducibility
import numpy as np
np.random.seed(0)

In [9]:
kickstarter_2018.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
338862,796196901,10G Christmas Tree,Art,Art,USD,2010-12-26,10526.00,2010-12-08 08:44:04,0.00,failed,0,US,0.00,0.00,10526.00
277871,483825010,Gliff,Gaming Hardware,Games,USD,2016-03-28,10000.00,2016-01-28 04:56:18,51.00,failed,5,US,51.00,51.00,10000.00
47000,123916947,STUFFED Food Truck,Food Trucks,Food,USD,2015-01-06,60000.00,2014-11-07 02:24:36,25.00,failed,1,US,25.00,25.00,60000.00
111338,1565733636,NeoExodus Adventure: Origin of Man for Pathfin...,Tabletop Games,Games,USD,2012-05-01,500.00,2012-03-15 01:16:10,585.00,successful,17,US,585.00,585.00,500.00
53743,1273544891,NAPOLEON IN NEW YORK! an original TV Series,Comedy,Film & Video,USD,2016-07-26,25000.00,2016-05-27 00:07:25,25.00,failed,1,US,25.00,25.00,25000.00

No se observa a simple vista ningún problema obvio.

Notar que todos vimos los mismos resultados. Al fijar la semilla no hubo tal azar, esto es algo necesario cuando queremos "reproducir valores aleatorios"

Veamos la descripción del dataset si se corresponde con lo levantado https://www.kaggle.com/kemical/kickstarter-projects/data

In [10]:
pd.DataFrame([["ID", "No description provided", "Numeric"],
["name", "No description provided", "String"],
["category", "No description provided", "String"],
["main_category", "No description provided", "String"],
["currency", "No description provided", "String"],
["deadline", "No description provided", "DateTime"],
["goal", "Goal amount in project currency", "Numeric"],
["launched", "No description provided", "DateTime"],
["pledged", "Pledged amount in the project currency", "Numeric"],
["state", "No description provided", "String"],
["backers", "No description provided", "Numeric"],
["country", "No description provided", "String"],
["usd pledged", "Pledged amount in USD (conversion made by KS)", "Numeric"],
["usd_pledged_real", "Pledged amount in USD (conversion made by fixer.io api)", "Numeric"],
["usd_goal_real", "Goal amount in USD", "Numeric"]], columns=["Field name","Field description", "Type"])

,Field name,Field description,Type
0,ID,No description provided,Numeric
1,name,No description provided,String
2,category,No description provided,String
3,main_category,No description provided,String
4,currency,No description provided,String
5,deadline,No description provided,DateTime
6,goal,Goal amount in project currency,Numeric
7,launched,No description provided,DateTime
8,pledged,Pledged amount in the project currency,Numeric
9,state,No description provided,String
10,backers,No description provided,Numeric
11,country,No description provided,String
12,usd pledged,Pledged amount in USD (conversion made by KS),Numeric
13,usd_pledged_real,Pledged amount in USD (conversion made by fixe...,Numeric
14,usd_goal_real,Goal amount in USD,Numeric

Ahora veamos los tipos de datos que detectó pandas

In [11]:
kickstarter_2018.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

Los campos object generalmente son String, entonces parece que no reconoció como fechas en **deadline** y **launched** :(

Veamos los datos un resumen de los datos

In [12]:
kickstarter_2018.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378661.00,378661.00,378661.00,374864.00,378661.00,378661.00
mean,1074731191.99,49080.79,9682.98,105.62,7036.73,9058.92,45454.40
std,619086204.32,1183391.26,95636.01,907.19,78639.75,90973.34,1152950.06
min,5971.00,0.01,0.00,0.00,0.00,0.00,0.01
25%,538263516.00,2000.00,30.00,2.00,16.98,31.00,2000.00
50%,1075275634.00,5200.00,620.00,12.00,394.72,624.33,5500.00
75%,1610148624.00,16000.00,4076.00,56.00,3034.09,4050.00,15500.00
max,2147476221.00,100000000.00,20338986.27,219382.00,20338986.27,20338986.27,166361390.71

Por defecto se ven los datos numéricos, veamos el resto.

In [13]:
kickstarter_2018.describe(include=['object'])

,name,category,main_category,currency,deadline,launched,state,country
count,378657,378661,378661,378661,378661,378661,378661,378661
unique,375764,159,15,14,3164,378089,6,23
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08,1970-01-01 01:00:00,failed,US
freq,41,22314,63585,295365,705,7,197719,292627

Operemos un cacho sobre los datos de lanzamiento

In [14]:
kickstarter_2018['launched'].min()

'1970-01-01 01:00:00'

Parece funcionar, pero ahora calculemos el rango de fechas de los proyectos

In [15]:
kickstarter_2018['launched'].max() - kickstarter_2018['launched'].min()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Indiquemos que columnas son fechas como indica la [documentación](https://pandas.pydata.org/pandas-docs/stable/io.html#datetime-handling)

In [45]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"])
kickstarter_2018.dtypes

ID                           int64
name                        object
category                    object
main_category               object
currency                    object
deadline            datetime64[ns]
goal                       float64
launched            datetime64[ns]
pledged                    float64
state                       object
backers                      int64
country                     object
usd pledged                float64
usd_pledged_real           float64
usd_goal_real              float64
dtype: object

Ahora vemos que esas columnas fueron reconocidas como fechas

Veamos la misma muestra de nuevo

In [46]:
kickstarter_2018.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
299667,595962034,Button Poetry Live!,Mixed Media,Art,USD,2015-09-18,10000.00,2015-08-19 19:34:20,18216.27,successful,455,US,18216.27,18216.27,10000.00
181674,1924707671,"C STREET 2012 : Tbilisi, Georgia",World Music,Music,USD,2012-06-07,5000.00,2012-05-08 18:22:59,7210.69,successful,82,US,7210.69,7210.69,5000.00
137583,1698707842,Dérive's Next Project,Punk,Music,USD,2014-07-06,1200.00,2014-06-08 17:58:37,1255.66,successful,33,US,1255.66,1255.66,1200.00
296861,581269566,Photo Book - World Santa Claus Congress,Photobooks,Photography,DKK,2017-04-14,110000.00,2017-03-14 23:45:35,462.00,failed,5,DK,0.00,66.46,15823.47
66362,1337585114,Kickstart CLE Brewing to greatness!,Drinks,Food,USD,2017-08-19,6500.00,2017-07-20 21:22:43,250.00,failed,5,US,75.00,250.00,6500.00

Y veamos el resumen de los datos

In [47]:
kickstarter_2018.describe(include='all')

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378657,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00
unique,nan,375764,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan
top,nan,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan
freq,nan,41,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan
first,nan,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan
last,nan,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan
mean,1074731191.99,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40
std,619086204.32,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06
min,5971.00,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01
25%,538263516.00,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00
50%,1075275634.00,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00
75%,1610148624.00,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00
max,2147476221.00,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71

Podemos ver que tenemos primero y último en el resumen de las columnas de fechas.

Ahora deberíamos poder calcular el rango de fechas de lanzamietos

In [48]:
kickstarter_2018['launched'].max() - kickstarter_2018['launched'].min()

Timedelta('17533 days 14:02:31')

# 1.2. Asegurar de tener ids/claves únicas

Chequear que no hay datos duplicados

In [49]:
kickstarter_2018.shape

(378661, 15)

Pandas soporta índices en los DataFrames vamos a recargar el conjunto de datos

In [113]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"],
                               index_col=['ID'])

In [51]:
kickstarter_2018

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.00,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.00,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.00,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00
100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.00,2013-09-09 18:19:37,0.00,failed,0,CA,0.00,0.00,2406.39
100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.00,2013-03-09 06:42:58,12700.00,successful,100,US,12700.00,12700.00,12500.00
1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.00,2014-09-02 17:11:50,0.00,failed,0,US,0.00,0.00,5000.00
1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73
1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.00,2015-01-29 02:10:53,664.00,failed,11,US,664.00,664.00,2500.00
1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.00,2014-10-09 22:27:52,395.00,failed,16,US,395.00,395.00,1500.00
1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.00,2015-04-10 21:20:54,789.00,failed,20,US,789.00,789.00,3000.00
1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.00,2012-08-02 14:11:32,250.00,successful,7,US,250.00,250.00,250.00
1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.00,2012-05-03 17:24:32,1781.00,failed,40,US,1781.00,1781.00,5000.00
1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.00,2013-11-25 07:06:11,34268.00,successful,624,US,34268.00,34268.00,20000.00
1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.00,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10
1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.00,2014-05-16 10:10:38,650.00,failed,12,US,650.00,650.00,3500.00
1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.00,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55
1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.00,2014-10-23 17:15:50,701.66,successful,66,US,701.66,701.66,175.00
1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.00,2010-12-07 23:16:50,15827.00,successful,147,US,15827.00,15827.00,10000.00
1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.00,2015-12-06 20:09:06,0.00,failed,0,GB,0.00,0.00,17489.65
1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.00,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04
1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.00,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91
100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.00,2017-04-03 17:11:33,57577.31,successful,840,US,10120.00,57577.31,50000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03,10000.00,2014-09-03 19:53:50,13861.50,successful,413,US,13861.50,13861.50,10000.00
99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05,12000.00,2014-05-06 23:50:34,0.00,failed,0,US,0.00,0.00,12000.00
999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13,25000.00,2014-11-13 17:16:17,11643.00,failed,97,US,11643.00,11643.00,25000.00
999867839,Transcaucasia,Photography,Photography,USD,2011-01-08,4000.00,2010-11-08 02:43:59,3531.00,failed,37,US,3531.00,3531.00,4000.00
99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24,800.00,2015-08-25 22:37:14,70.00,failed,5,US,70.00,70.00,800.00
999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17,5000.00,2014-11-17 17:50:12,5435.00,successful,78,CA,4814.88,4686.96,4311.83
999878813,Ways to Look at the Moon,Shorts,Film & Video,USD,2017-10-13,10000.00,2017-08-29 06:57:28,10245.00,successful,123,US,145.00,10245.00,10000.00
999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15,5000.00,2014-07-15 02:10:39,18.00,failed,5,US,18.00,18.00,5000.00
999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03,5000.00,2015-11-03 13:04:14,5579.00,successful,103,US,5579.00,5579.00,5000.00
999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11,1000.00,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00
99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04,80000.00,2015-07-06 18:00:47,0.00,failed,0,CH,0.00,0.00,82207.27
999929142,ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...,Tabletop Games,Games,EUR,2017-10-31,1000.00,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70
999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.00,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00
999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15,3500.00,2015-11-23 07:33:14,6169.00,successful,120,US,6169.00,6169.00,3500.00
999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10,16000.00,2013-09-10 22:45:26,2738.00,failed,38,GB,4281.15,4374.99,25566.05
999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30,950.00,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,1732.02,950.00
999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14,4999.00,2012-08-15 17:11:00,980.00,failed,16,US,980.00,980.00,4999.00
999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23,500.00,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00
999963618,Colorado International Activism Film Festival,Narrative Film,Film & Video,USD,2017-04-09,500.00,2017-02-08 02:28:44,135.00,failed,6,US,45.00,135.00,500.00
99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.00,2016-07-29 15:36:29,0.00,failed,0,US,0.00,0.00,6000.00
999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22,5000.00,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.92,4983.69,4529.81
999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28,20000.00,2015-03-29 21:30:33,21500.00,successful,36,NO,2698.97,2875.83,2675.19
999972264,Islanda,Documentary,Film & Video,USD,2012-03-16,1700.00,2012-02-15 04:31:10,25.00,failed,1,US,25.00,25.00,1700.00
999975836,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,6500.00,2017-03-20 22:08:22,154.00,failed,4,US,0.00,154.00,6500.00
999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20,5500.00,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60
999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.00,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00
999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.00,2011-06-22 03:35:14,155.00,failed,5,US,155.00,155.00,1500.00
999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.00,2010-07-01 19:40:30,20.00,failed,1,US,20.00,20.00,15000.00
999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.00,2016-01-13 18:13:53,200.00,failed,6,US,200.00,200.00,15000.00
999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.00,2011-07-19 09:07:47,524.00,failed,17,US,524.00,524.00,2000.00

In [52]:
kickstarter_2018.shape

(378661, 14)

De esta forma podemos buscar por el índice

In [53]:
kickstarter_2018.loc[999988282]

name                Nou Renmen Ayiti!  We Love Haiti!
category                              Performance Art
main_category                                     Art
currency                                          USD
deadline                          2011-08-16 00:00:00
goal                                          2000.00
launched                          2011-07-19 09:07:47
pledged                                        524.00
state                                          failed
backers                                            17
country                                            US
usd pledged                                    524.00
usd_pledged_real                               524.00
usd_goal_real                                 2000.00
Name: 999988282, dtype: object

También podemos verificar si hay filas de contenidos duplicado

In [54]:
kickstarter_2018[kickstarter_2018.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

Como Pandas acepta valores duplicados en los índices también debemos verificar ahí

In [55]:
pd.Series(kickstarter_2018.index,dtype=str).describe()

count        378661
unique       378661
top       439416501
freq              1
Name: ID, dtype: object

In [17]:
kickstarter_2018[kickstarter_2018.index.duplicated()]

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

Repasamos con un ejemplo de juguete

In [18]:
csv='1,2\n3,3\n1,3'
print(csv)

1,2
3,3
1,3

In [19]:
from io import StringIO
df = pd.read_csv(StringIO(csv), names=['id','value'], index_col='id')
df

    value
id
1       2
3       3
1       3

In [20]:
df[df.duplicated()]

    value
id
1       3

In [21]:
df[df.index.duplicated(keep=False)]

    value
id
1       2
1       3

#### Ejercicio 1:

Armar una tabla con todos los proyectos con nombres duplicados, ordenados para revisar agrupados.

In [65]:
repetidos = kickstarter_2018[kickstarter_2018.name.duplicated(keep=False)].sort_values(['name'], ascending=[True]) 

repetidos.head(5)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-02-09,6500.00,2013-12-19 21:51:50,0.00,canceled,0,US,0.00,0.00,6500.00
815783250,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-03-01,6500.00,2014-01-03 20:39:16,37.00,failed,3,US,37.00,37.00,6500.00
1010584633,"""A Fresh Start""",Shorts,Film & Video,USD,2011-09-25,3000.00,2011-08-28 21:27:52,3000.00,successful,24,US,3000.00,3000.00,3000.00
713417995,"""A Fresh Start""",Documentary,Film & Video,USD,2013-03-27,5000.00,2013-01-26 03:51:47,1417.00,failed,26,US,1417.00,1417.00,5000.00
1880084695,"""American Sports Stories"" - An Athletic Quest",Shorts,Film & Video,USD,2015-08-26,100000.00,2015-06-27 02:02:00,100.00,failed,1,US,100.00,100.00,100000.00

5125 proyectos poseen nombres que estan repetidos

# 1.3. Despersonalizar datos y guardarlos en un nuevo archivo

Hay muuuchas técnicas para despersonalizar datos.

Para ilustrar mostramos las ofrecidas por Google https://cloud.google.com/dlp/docs/transformations-reference:

* **Reemplazo**: Reemplaza cada valor de entrada con un valor determinado.
* **Ocultamiento**: Quita un valor y lo oculta.
* **Enmascaramiento con caracteres**: Enmascara una string por completo o parcialmente mediante el reemplazo de un número determinado de caracteres con un carácter fijo especificado..
* **Seudonimización mediante el reemplazo de un valor de entrada con un hash criptográfico**: Reemplaza valores de entrada con una string hexadecimal de 32 bytes mediante una clave de encriptación de datos.
* **Cambio de fechas**: Cambia las fechas por un número de días al azar, con la opción de ser coherente en el mismo contexto..
* **Seudonimización mediante el reemplazo con token de preservación de formato criptográfico**: Reemplaza un valor de entrada con un token, o valor sustituto, de la misma longitud mediante la encriptación de preservación de formato (FPE) con el modo de operación FFX. Esto permite que se use el resultado en sistemas con validación de formato o que necesitan aparecer como reales a pesar de que la información no se revela.
* **Valores de depósito con base en rangos de tamaño fijos**: Enmascara los valores de entrada y los reemplaza por depósitos, o rangos dentro de los cuales se encuentra el valor de entrada.
* **Valores de depósito con base en rangos de tamaño personalizados**: Valores de entrada de depósito con base en rangos configurables por el usuario y valores de reemplazo.
* **Extracción de datos de tiempo**: EExtrae o preserva una porción de los valores Date, Timestamp y TimeOfDay.

In [66]:
from hashlib import md5

In [71]:
kickstarter_2018['name'].apply(md5)

TypeError: Unicode-objects must be encoded before hashing

In [73]:
def hashit(val):
    return md5(val.encode('utf-8'))

kickstarter_2018['name'].apply(hashit)

AttributeError: 'float' object has no attribute 'encode'

In [74]:
def hashit(val):
    try:
        return md5(val.encode('utf-8'))
    except Exception as e:
        print(val, type(val))
        raise(e)

kickstarter_2018['name'].apply(hashit)

nan <class 'float'>

AttributeError: 'float' object has no attribute 'encode'

In [78]:
def hashit(val):
    if isinstance(val, float): 
        return str(val)
    return md5(val.encode('utf-8')).hexdigest()


kickstarter_2018['name'].apply(hashit)

ID
1000002330    a6828ae8a2eca25f0dd7035efc0af0a0
1000003930    81609b3bdc0b96f429672d69702f2524
1000004038    c12f5c3bace2f0213cdb2679a265dca0
1000007540    4dbdcf09c86bbf5683ec39bc57b77f81
1000011046    9c01404a2ef702811c2088ce139042ad
1000014025    3a26b565c8396d4867dda27816836e04
1000023410    1602dce9289c950176c41ce124944335
1000030581    1abb0a27e1a3ce5a79965e3022c6bddc
1000034518    3b3a87aebec0d9c1b3a4a5e4da7a88a8
100004195     d7c53ef574a108d857d52087bb685244
100004721     eba20b66506f511bfacfe843176f5e15
100005484     9df25d0c0e2f8ea9de303f3d4efaf3c8
1000055792    717f62eae71408f00fa49227da83feae
1000056157    6532f0fa53550fd516921a2d7a1121d6
1000057089    799a510f874b6d47c1fde736d22cae3e
1000064368    93ebbffc751f9cc8d31e0147b7b1c7e3
1000064918    c10592831d537538905aefc12d54b49d
1000068480    0f109f9875645b801843775bbeadb1f1
1000070642    2d3d4b4267af87948bf7ac6d3ca13b54
1000071625    26c10e7de5df6269e71df1bf49ff4da9
1000072011    459cec5845add6a7f8fb1498cfc0e618
1000081649    717d11ee2f9e2bd87329f78a8d7bdc1c
1000082254    487618e937714fbcb32f9b598736648b
1000087442    8424232e00cc48fb064567323a261dc3
1000091520    7c5a6a64bac6118f314cf7929f0e28bc
1000102741    04c31ebb8ae046861909831eb3191575
1000103948    4c9142bd7323ce6b56845ad2b9fbd4df
1000104688    3c0a4fd740ea2c78ad43a9012ced6c31
1000104953    24a24cd343d1fe32402d2bd2c4cc2765
100011318     0f560a6815e2cc8a16c960a0345b55cd
                            ...
999832803     96e1db6ef56048946d06c4684b325f3b
99984851      7090c016667e74d9fe441a2c14f9060f
999865831     7a8b0e1864c9565fe4fae6150d13d043
999867839     8efaae0c43a5b3be635eba9d2d153998
99987261      9b8a19ba3e194d9feeafda8975c164e0
999877902     693e50d5d66041edcc8261ab2f90d262
999878813     4f829526c723be2a492c6f39d8e54bf3
999880710     c078e5341a21d0126b5fbc328d51f8b7
999884445     7a8363b7819549e1aaff6e36d704cc1d
999893629     40e958dcfd7529ed05bac962917ffb08
99991751      9d5b82a5986df3cc7fd8b86e16450e98
999929142     81a865de7fa5e6e465ca4b30a462f478
999931480     e31dd9639dceb81b16149a80270122cc
999934908     41dcad0d3c8bd1df1cfaf1f3f1a7a3ab
999941823     f491e66724288060ade741ccebdb06d0
999943841     d158f663c3b4863948fd2f3cfae9da26
999950812     8ebb80ca7c016467b75df389988ccf39
999955533     e53d15d590055d15095cd6cf7a0242aa
999963618     882197e4f447ba42579cce28551f4adc
99996661      91259861e10595aaf111dcaff67a0493
999969812     4f29e45b8842034257ae4a66775628b1
999971898     caad57bc3cc35ac755c4d3f80ad76272
999972264     f45882dc2c76b2a19db36056416a0819
999975836     94e7f96603f00c7e6c4e44f3b1460c55
999976312     a9c021911e5f53baf3b9eb8882a49974
999976400     d89228576343394467096843057f3aa4
999977640     bbcb30bd9bd4f9bff0a96fc44d0001f0
999986353     6c3094666e1a315b6e179566fe3972d9
999987933     887be409ad8b93f26084845a41d4c178
999988282     11f7ae3385c567df409deb5f4ac9a2a5
Name: name, Length: 378661, dtype: object

#### Ejercicio 2:

Verificar que los proyectos que tienen nombres duplicados también tienen el hash de nombre duplicado

In [83]:
repetidos['name'].apply(hashit)

ID
816998285     0c7a251ffe4c7834cbc4b04906952ff1
815783250     0c7a251ffe4c7834cbc4b04906952ff1
1010584633    67554ab4203d95f2f2f05365f768206e
713417995     67554ab4203d95f2f2f05365f768206e
1880084695    19a82bc4c5961834282575d07d9b5f7c
422509694     19a82bc4c5961834282575d07d9b5f7c
866225086     b4ca2044f21f67e13ddb7583f59189a7
1760892298    b4ca2044f21f67e13ddb7583f59189a7
1999958521    bed6c6cbc0540c8d40b7e2311806cc5c
870322805     bed6c6cbc0540c8d40b7e2311806cc5c
1413519345    24873b2974fe8222256c6cc800a2b361
1637334549    24873b2974fe8222256c6cc800a2b361
1656736114    5f38010cf3ee47694a209c9a8403acfa
159049492     5f38010cf3ee47694a209c9a8403acfa
72198224      b2226ed5c4031a0c849ac470e9910f7d
996180421     b2226ed5c4031a0c849ac470e9910f7d
306461885     2587a1a381b7ff6d58e564532406b035
1023301684    2587a1a381b7ff6d58e564532406b035
516801004     0e9a80859587c8f75672828db5fb9118
2007967203    0e9a80859587c8f75672828db5fb9118
1223071711    2727d1da48d26f0f96b6e1d6e591c447
2136175444    2727d1da48d26f0f96b6e1d6e591c447
1165257902    2f5461a57595a43b7cf881f2437530c0
1606189204    2f5461a57595a43b7cf881f2437530c0
1823321664    f5bf4d1249bab6ed246b5e020619f6f8
465144515     f5bf4d1249bab6ed246b5e020619f6f8
234863316     2f60fe4238b7d46be48534909400b660
2043567899    2f60fe4238b7d46be48534909400b660
1889457470    ce0bda561fe01f0f94c83096b9f6bb56
1165878498    ce0bda561fe01f0f94c83096b9f6bb56
                            ...
255984219     3955d4ef708f335332b188a159e60c2d
1945927325    3955d4ef708f335332b188a159e60c2d
145035452     79662d118c00afb8e4e1005b99bd610d
1297288919    79662d118c00afb8e4e1005b99bd610d
1146277333    830d51b9fdc1c2abe2ad2e996f313db5
1556035715    830d51b9fdc1c2abe2ad2e996f313db5
391083153     830d51b9fdc1c2abe2ad2e996f313db5
1586289411    830d51b9fdc1c2abe2ad2e996f313db5
576148925     25c90894812a0fccdb4c1addf38b6ad3
467374509     25c90894812a0fccdb4c1addf38b6ad3
1331807604    0c1075d27aa523709f3e886b8782b9f7
216839969     0c1075d27aa523709f3e886b8782b9f7
167364797     4721845b6bf6e8d7947919262fa4824b
1404511608    4721845b6bf6e8d7947919262fa4824b
1117671370    4721845b6bf6e8d7947919262fa4824b
1492548024    c8973c7d7c62ed4dc925dc68a588fee5
1863478885    c8973c7d7c62ed4dc925dc68a588fee5
1334808206    9dd4e461268c8034f5c8564e155c67a6
774948469     9dd4e461268c8034f5c8564e155c67a6
1955983697    942589616676722eaebdc3af51dbedb3
983316237     942589616676722eaebdc3af51dbedb3
58345768      942589616676722eaebdc3af51dbedb3
1612055887    942589616676722eaebdc3af51dbedb3
234114061     942589616676722eaebdc3af51dbedb3
1839948714    930857c212f21166427b23d4a7fe52a3
329580179     930857c212f21166427b23d4a7fe52a3
1848699072                                 nan
634871725                                  nan
648853978                                  nan
796533179                                  nan
Name: name, Length: 5125, dtype: object

Se verifica que se repiten dado que estan ordenados

# 1.4. Nunca modificar los datos crudos u originales

In [84]:
if not in_colab:
  kickstarter_2018.to_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../output/ks-projects-201801-for-pandas.csv'


# 2. Pasos necesarios

In [85]:
#import pandas as pd
if not in_colab:
  kickstarter_2018 = pd.read_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv",
                        index_col='ID',
                        parse_dates=['deadline','launched'])

FileNotFoundError: [Errno 2] File b'../output/ks-projects-201801-for-pandas.csv' does not exist: b'../output/ks-projects-201801-for-pandas.csv'

In [86]:
kickstarter_2018.describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
count,378657,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00
unique,375764,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan
freq,41,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan
first,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan
last,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan
mean,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40
std,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06
min,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00
50%,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00
75%,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00
max,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71

## 2.1. Etiquetas de variables/columnas: no usar caracteres especiales

In [87]:
# helpful character encoding module
import chardet

¿Por qué? Por que aun hay limitaciones para trabajar con estos caracteres.

¿Cúales son los caracteres "normales"?

In [89]:
import string

string.ascii_letters + string.digits

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

¿Qué es ASCII? Es una de las primeras codificaciones (o encoding) disponibles. Ver https://en.wikipedia.org/wiki/ASCII

Un encoding es un mapa de caracteres a una representación en bits (por ejemplo 1000001). ASCII es uno de los primeros estandares para interoperatividad entre computadoras (antes cada fabricante de computadora usa su propia codificación), contempla sólo los caracteres ingleses y usa 7 bits, por ejemplo *1000001* codifica el caracter *A*

Cómo sólo representaban los caracteres ingleses, empiezan a aparecer variantes para distintos idiomas, Microsoft hizo los propios para internacionalizar Windows, hubo otro estandar ISO 8859, hasta que llegó el éstandar Unicode que hizo múltiples encodings pero cada uno contempla múltiples idiomas e incluso es extensible a futuro. UTF-8 es de esos encodings el más utilizado. Ver https://en.wikipedia.org/wiki/Unicode

En particular, Python 3 utiliza UTF-8 por defecto (lo que no sucedía en Python 2).

Veamos un ejemplo práctico

In [91]:
# start with a string
before = "This is the euro symbol: €"

# check to see what datatype it is
type(before)

str

In [94]:
# encode it to a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors = "replace")

# check the type
type(after)

bytes

In [31]:
# take a look at what the bytes look like
after

b'This is the euro symbol: \xe2\x82\xac'

In [96]:
# convert it back to utf-8
print(after.decode("utf-8"))

This is the euro symbol: €

In [101]:
# try to decode our bytes with the ascii encoding
print(after.decode("ascii"))

This is the euro symbol: ?

In [114]:
# start with a string
before = "This is the euro symbol: €"

# encode it to a different encoding, replacing characters that raise errors
after = before.encode("ascii", errors = "replace")

# convert it back to utf-8
print(after.decode("ascii"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character :(

This is the euro symbol: ?

Este error ya lo vimos...

In [115]:
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 11: invalid start byte

El error `UnicodeDecodeError` nos indica que el archivo no estaría en Unicode. Si no está en algún metadato o no fue indicado es dificil detectar el encoding, por suerte hay un paquete para esto en Python, que aplica unas heurísticas para detectar encoding.

In [116]:
# In Colab we need to download data locally
if in_colab:
  !wget -c $BASE_DIR/input/kickstarter-projects/ks-projects-201612.csv
  DOWN_DIR = "./"
else:
  DOWN_DIR = BASE_DIR + "/input/kickstarter-projects/"
  
# look at the first ten thousand bytes to guess the character encoding
with open(DOWN_DIR + "/ks-projects-201612.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

Entonces le podemos indicar el encoding al leer el archivos

In [117]:
# read in the file with the encoding detected by chardet
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv", encoding='Windows-1252')

# look at the first few lines
kickstarter_2016.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,nan
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,nan
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,nan
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,nan
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,nan

Hay otro problema con los caracteres que es más sutíl: **[Mojibake](https://en.wikipedia.org/wiki/Mojibake)**

Sucede al leer UTF-8 como ASCII extendido (ie. `Windows-*`, `iso-8859-*` entre otros)

Ejemplo de mojibake:

In [118]:
"cigüeña".encode('utf-8').decode('iso-8859-1')

'cigÃ¼eÃ±a'

Para esto vamos a usar un módulo específico [ftfy](https://ftfy.readthedocs.io/en/latest/). 

Que nos permite ordenar cadenas por rareza

In [119]:
import ftfy.badness as bad

In [120]:
def weird(val):
    if isinstance(val, float): 
        return 0
    return bad.sequence_weirdness(val)


kickstarter_2018['name_weirdness'] = kickstarter_2018['name'].apply(weird)
kickstarter_2018[kickstarter_2018['name_weirdness'] > 1]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1221990593,Support PMCD´s ¨From a Different Clay¨,Dance,Dance,USD,2011-06-08,1500.00,2011-04-28 05:15:32,1940.00,successful,27,US,1940.00,1940.00,1500.00,3
1234089244,Cracking (Mastering) the Metaphor (Political)...,Nonfiction,Publishing,USD,2013-10-27,30000.00,2013-09-27 23:33:29,0.00,failed,0,US,0.00,0.00,30000.00,2
124795481,µGALE (Canceled),Wearables,Technology,EUR,2015-04-17,18000.00,2015-02-16 01:55:34,10.00,canceled,2,NL,11.39,10.81,19465.14,2
1468489999,µCurrent GOLD - Precision Multimeter Current A...,Hardware,Technology,AUD,2013-12-31,9900.00,2013-12-17 10:28:09,116575.17,successful,1268,AU,104343.69,104871.51,8906.08,2
1610503461,µPeek - The Professional Microscope that Fits ...,Technology,Technology,CHF,2016-01-09,125000.00,2015-12-10 10:08:18,247688.14,successful,1435,CH,249249.19,246848.85,124576.44,2
16174550,PARALELO 19 Nº,Photography,Photography,MXN,2017-04-15,15000.00,2017-03-01 00:00:24,3340.00,failed,8,MX,0.00,177.36,796.52,2
1719215256,Kickstarter Gold: Manual Coffeemaker Nº3,Product Design,Design,USD,2017-07-22,60000.00,2017-06-20 15:29:56,68587.33,successful,618,US,21002.00,68587.33,60000.00,2
1837094178,¨Midgard's taigh-seinnse/ Eröffnung Mittelalte...,Restaurants,Food,CHF,2016-09-29,50000.00,2016-08-30 09:36:42,150.00,failed,1,CH,0.00,153.93,51310.47,2
2056123754,ZEIº - the most simple time tracking solution,Technology,Technology,EUR,2016-10-26,75000.00,2016-09-20 15:54:49,313637.00,successful,3140,AT,9451.58,342555.54,81915.29,2
2068157547,Ballet Folklorico Infantil de la Universidad ...,Art,Art,MXN,2017-04-03,40000.00,2017-03-22 16:33:33,42480.00,successful,38,MX,532.09,2263.79,2131.63,2
2096648634,Funky City : a funky rpg,Video Games,Games,USD,2017-04-08,5000.00,2017-03-09 04:05:15,0.00,failed,0,US,0.00,0.00,5000.00,2
2102265118,Music Album ¨Dreams¨ Uplifting Tunes with Rap,Hip-Hop,Music,EUR,2017-12-24,28000.00,2017-11-24 12:49:09,0.00,failed,0,NL,0.00,0.00,33580.39,4
237780030,Solderdoodle Pro: Over 700ºF USB Rechargeable ...,DIY Electronics,Technology,USD,2014-08-19,37800.00,2014-07-29 16:52:31,15636.00,failed,318,US,15636.00,15636.00,37800.00,2
383244441,Virtual Roller Coaster in 4th Dimension,Makerspaces,Technology,MXN,2017-02-25,459900.00,2017-02-01 00:07:38,0.00,failed,0,MX,0.00,0.00,23399.82,2
458626388,Solderdoodle Pro: 700ºF USB Rechargeable Solde...,DIY Electronics,Technology,USD,2014-09-24,11400.00,2014-08-19 16:55:05,22565.00,successful,409,US,22565.00,22565.00,11400.00,2
466898065,Manual Tea Maker Nº1,Product Design,Design,USD,2016-08-20,40000.00,2016-07-18 04:25:44,67767.00,successful,1111,US,5534.00,67767.00,40000.00,2
516833776,µTracker - extremly Power Saving GPS + GSM Board,Hardware,Technology,EUR,2016-12-09,89000.00,2016-11-18 09:13:12,2032.00,failed,22,AT,546.70,2145.59,93975.04,2
549309727,Higher Grounds Coffee Company Mobile Coffee Tr...,Food Trucks,Food,USD,2018-01-12,10000.00,2017-12-07 16:07:54,4882.00,live,36,US,542.00,4882.00,10000.00,2
551994337,?? cybertwee ?? ¨*:·. bake sale on the deep we...,Digital Art,Art,USD,2015-09-18,100.00,2015-09-14 04:14:05,347.00,successful,66,US,347.00,347.00,100.00,2
558638957,Mµ Magazine,Zines,Publishing,CAD,2016-12-02,5000.00,2016-11-01 23:37:22,0.00,failed,0,CA,0.00,0.00,3758.55,2
718763713,"Not Twins - New EP! ""The View from Down Here""",Indie Rock,Music,USD,2017-03-27,3500.00,2017-02-26 18:34:59,4726.61,successful,171,US,1758.41,4726.61,3500.00,2
805839986,µRuler - Measure size in the micro-world under...,Technology,Technology,CAD,2017-04-07,2000.00,2017-03-08 03:42:19,5523.00,successful,213,CA,623.34,4118.26,1491.31,2
900880068,Newton ¨El Veterano¨,Music,Music,EUR,2016-12-10,2747.00,2016-10-31 21:24:36,838.00,failed,36,ES,0.00,874.78,2867.58,4
960506632,Degreesº to Extinction,Documentary,Film & Video,USD,2016-12-21,30000.00,2016-12-06 00:26:54,30.00,failed,2,US,5.00,30.00,30000.00,2
963442008,theNewerYork Lit Mag: We M?§§ w/ Yoµr H£åd,Periodicals,Publishing,USD,2012-03-25,7000.00,2012-01-30 19:01:35,9892.49,successful,228,US,9892.49,9892.49,7000.00,2
98169605,µTøøl - The Ultimate pocket tool! Credit card ...,Technology,Technology,NZD,2016-01-01,20000.00,2015-12-02 06:04:57,2230.00,failed,83,NZ,1477.51,1472.34,13204.81,2

Volviendo a la consigna original, chequeamos que no haya caracteres fuera de a-Z, 0-9 y _ en los nombres de columnas

In [121]:
kickstarter_2018.columns[~kickstarter_2018.columns.str.match(r'^(\w+)$')]

Index(['usd pledged'], dtype='object')

In [122]:
kickstarter_2018.usd_pledged.head()

AttributeError: 'DataFrame' object has no attribute 'usd_pledged'

In [123]:
kickstarter_2018.columns = kickstarter_2018.columns.str.replace(' ', '_')
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,0
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,0
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,0

In [124]:
kickstarter_2018.usd_pledged.head()

ID
1000002330      0.00
1000003930    100.00
1000004038    220.00
1000007540      1.00
1000011046   1283.00
Name: usd_pledged, dtype: float64

#### Ejercicio 3

Comparar la cantidad de nombres raros en kickstarter_2018 con la que obtenemos al cargar 'ks-projects-201801.csv' con encoding iso-8859-1.

In [141]:
kickstarter_2018_iso = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv",
                                parse_dates=["deadline","launched"],
                               index_col=['ID'],encoding='iso-8859-1')

kickstarter_2018_iso['name_weirdness'] = kickstarter_2018_iso['name'].apply(weird)

In [142]:
kickstarter_2018[kickstarter_2018['name_weirdness'] > 1].name.count()

26

In [144]:
kickstarter_2018_iso[kickstarter_2018_iso['name_weirdness'] > 1].name.count()

7682

En el importado normal tenemos 26 valores "raros" mientras que en el importado con el encoding iso-8859-1 tenemos 7682

In [148]:
kickstarter_2018[['name','name_weirdness']][kickstarter_2018['name_weirdness'] > 1].sort_values(['name_weirdness'], ascending=[False]).head(5)

                                                         name  name_weirdness
ID
900880068                                Newton ¨El Veterano¨               4
2102265118      Music Album ¨Dreams¨ Uplifting Tunes with Rap               4
1221990593             Support PMCD´s ¨From a Different Clay¨               3
458626388   Solderdoodle Pro: 700ºF USB Rechargeable Solde...               2
963442008          theNewerYork Lit Mag: We M?§§ w/ Yoµr H£åd               2

In [150]:
kickstarter_2018_iso[['name','name_weirdness']][kickstarter_2018_iso['name_weirdness'] > 1].sort_values(['name_weirdness'], ascending=[False]).head(5)

                                                         name  name_weirdness
ID
975164714   Michale Graves âWandererâ Album â Follow...              20
1627300385  1960âs, â70âs & â80âs Race Car Photo...              20
507403134   â¢â¢â¢ New Music and Video Art â¢â¢â¢ CD...              18
1313349951  Own A Maine Lighthouse -- 43Â° 39â 21â N, ...              18
592878198   VINCENT, a Thriller -âDr.Jeckyl/Hydeâ meet...              16

Viendo los 5 primeros de cada uno vemos los problemas graves de formato que tuvo el encoding iso-8859-1

## 2.2. Tratar valores faltantes

Veamos cuantos valores nulos tenemos

In [151]:
# get the number of missing data points per column
missing_values_count = kickstarter_2018.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[missing_values_count > 0]

name              4
usd_pledged    3797
dtype: int64

Esta medida en sí, no dice nada más que con cuantos valores debemos lidiar. 

Primero tenemos que ver si en términos relativos su impacto.

In [155]:
len(kickstarter_2018.dropna())/len(kickstarter_2018)

0.9899619976707398

In [161]:
len(kickstarter_2018.dropna(subset=['name']))/len(kickstarter_2018)

0.9999894364616372

También debemos ver que significan en términos de representatividad e importancia de nuestro análisis.

In [163]:
kickstarter_2018[kickstarter_2018.name.isnull()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.00,2012-01-01 12:35:31,100.00,failed,1,US,100.00,100.00,200000.00,0
634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.00,2012-12-19 23:57:48,196.00,failed,12,GB,317.73,316.05,3224.97,0
648853978,NaN,Product Design,Design,USD,2016-07-18,2500.00,2016-06-18 05:01:47,0.00,suspended,0,US,0.00,0.00,2500.00,0
796533179,NaN,Painting,Art,USD,2011-12-05,35000.00,2011-11-06 23:55:55,220.00,failed,5,US,220.00,220.00,35000.00,0

Ejemplo, cuantos de los proyectos suspendidos no tienen nombre

In [164]:
len(kickstarter_2018[kickstarter_2018.state == 'suspended'].dropna(subset=['name'])) / \
    len(kickstarter_2018[kickstarter_2018.state == 'suspended'])

0.9994582881906826

En este caso, creemos que es seguro descartar los proyectos sin nombre

In [165]:
kickstarter_2018 = kickstarter_2018.dropna(subset=['name'])

In [166]:
missing_values_count = kickstarter_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

usd_pledged    3797
dtype: int64

In [167]:
kickstarter_2018[kickstarter_2018.usd_pledged.isnull()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,6500.00,2014-08-06 21:28:36,555.00,undefined,0,"N,0""",nan,555.00,6500.00,0
100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.00,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",nan,3402.08,3211.53,0
1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.00,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",nan,3576.00,3500.00,0
1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.00,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",nan,7007.80,6000.00,0
1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.00,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",nan,3660.38,3000.00,0
1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10,4000.00,2014-09-10 22:51:01,4760.00,undefined,0,"N,0""",nan,4251.14,3572.39,0
1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11,5000.00,2015-05-15 02:12:35,6370.00,undefined,0,"N,0""",nan,6370.00,5000.00,0
1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07,6000.00,2015-10-10 18:45:24,6695.00,undefined,0,"N,0""",nan,6695.00,6000.00,0
1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28,2750.00,2015-02-11 19:28:27,2926.00,undefined,0,"N,0""",nan,2926.00,2750.00,0
1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11,1200.00,2015-11-11 21:02:55,1585.00,undefined,0,"N,0""",nan,1585.00,1200.00,0
1005185256,Local Music Connection,Music,Music,USD,2015-12-18,1500.00,2015-11-18 21:50:04,69.00,undefined,0,"N,0""",nan,69.00,1500.00,0
100522240,DO NOT DUPLICATE - Selected by 2015 Devon Film...,Film & Video,Film & Video,GBP,2015-04-10,1500.00,2015-03-11 22:07:00,277.00,undefined,0,"N,0""",nan,404.18,2188.69,0
1005653464,SA-4 Studios,Music,Music,USD,2015-03-25,5000.00,2015-01-24 18:33:14,0.00,undefined,0,"N,0""",nan,0.00,5000.00,0
1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31,2000.00,2014-10-02 22:48:31,2560.00,undefined,0,"N,0""",nan,2560.00,2000.00,0
1008671527,The Fitness Mindset :-),Publishing,Publishing,EUR,2015-11-17,8000.00,2015-10-13 15:45:38,30.00,undefined,0,"N,0""",nan,32.06,8550.39,0
1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30,2000.00,2015-10-04 21:48:11,2079.00,undefined,0,"N,0""",nan,2079.00,2000.00,0
1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11,2000.00,2014-09-10 23:23:40,2085.00,undefined,0,"N,0""",nan,2085.00,2000.00,0
1009154868,Help advance scientific guitar & bass design,Music,Music,USD,2016-03-12,5000.00,2016-02-11 01:42:44,121.00,undefined,0,"N,0""",nan,121.00,5000.00,0
1009312309,Mr. Pickles,Publishing,Publishing,USD,2015-05-01,3750.00,2015-04-01 16:36:51,230.00,undefined,0,"N,0""",nan,230.00,3750.00,0
1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06,2500.00,2014-07-29 23:01:07,2720.00,undefined,0,"N,0""",nan,2720.00,2500.00,0
1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31,2500.00,2015-05-14 23:05:51,2620.00,undefined,0,"N,0""",nan,2939.13,2804.51,0
1010694326,Surrender,Music,Music,CAD,2015-01-30,5000.00,2014-12-29 01:27:30,5197.00,undefined,0,"N,0""",nan,4101.82,3946.33,0
1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30,8000.00,2015-04-20 17:33:24,8361.00,undefined,0,"N,0""",nan,8361.00,8000.00,0
1011952280,NHSOB Summer Festival 2015,Music,Music,GBP,2015-05-15,3000.00,2015-03-31 17:21:17,34.00,undefined,0,"N,0""",nan,53.41,4712.83,0
1012058337,Degobah Max,Music,Music,USD,2015-12-05,4500.00,2015-11-06 21:55:39,0.00,undefined,0,"N,0""",nan,0.00,4500.00,0
1012414277,WE ARE WHO WE ARE BUT WHATEVER WE WANT TO BE!!!,Music,Music,USD,2015-08-31,3000.00,2015-07-13 17:09:24,0.00,undefined,0,"N,0""",nan,0.00,3000.00,0
1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21,7500.00,2014-11-21 05:09:09,9329.00,undefined,0,"N,0""",nan,9329.00,7500.00,0
1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26,5000.00,2016-04-26 19:46:26,5170.00,successful,0,"N,0""",nan,5170.00,5000.00,0
1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06,6500.00,2016-01-07 13:44:33,6660.12,undefined,0,"N,0""",nan,9660.05,9427.80,0
1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09,3500.00,2015-05-10 15:22:18,207.00,undefined,0,"N,0""",nan,168.25,2844.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982862687,Bydlo - A Novel,Publishing,Publishing,GBP,2015-06-01,3000.00,2015-04-02 12:51:16,0.00,undefined,0,"N,0""",nan,0.00,4599.39,0
982919439,Faith,Film & Video,Film & Video,USD,2016-05-06,9000.00,2016-03-07 04:17:33,2.00,failed,0,"N,0""",nan,2.00,9000.00,0
983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05,8000.00,2015-11-19 23:43:09,8025.00,undefined,0,"N,0""",nan,8025.00,8000.00,0
985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17,8000.00,2014-04-21 21:52:55,8562.00,undefined,0,"N,0""",nan,8562.00,8000.00,0
986253191,"DEVELOP MAGAZINE FOR THE ARTS, MUSIC, AND DESI...",Publishing,Publishing,USD,2015-02-28,5000.00,2015-01-29 17:43:13,0.00,undefined,0,"N,0""",nan,0.00,5000.00,0
986471034,"Help Revival finish their new album, Guidance.",Music,Music,USD,2015-05-02,2500.00,2015-04-03 11:16:00,420.00,undefined,0,"N,0""",nan,420.00,2500.00,0
98744618,Vinyl for Dancing Pigeons!,Music,Music,SEK,2016-04-16,33000.00,2016-03-17 13:42:54,1105.00,undefined,0,"N,0""",nan,136.19,4067.35,0
988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03,6500.00,2015-10-04 00:55:19,7814.00,undefined,0,"N,0""",nan,7814.00,6500.00,0
989218116,Keep on Movin' - The Debut Album,Music,Music,GBP,2014-11-19,1300.00,2014-10-22 22:22:14,2.00,undefined,0,"N,0""",nan,3.14,2038.70,0
989499289,Sojourner,Music,Music,USD,2016-04-11,2500.00,2016-03-12 23:22:51,80.00,undefined,0,"N,0""",nan,80.00,2500.00,0
989874415,Love and Soul through Sound,Music,Music,USD,2015-06-27,3000.00,2015-05-28 17:17:08,45.00,undefined,0,"N,0""",nan,45.00,3000.00,0
991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28,5500.00,2015-01-29 02:58:24,5763.00,undefined,0,"N,0""",nan,5763.00,5500.00,0
991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20,3400.00,2015-12-05 05:10:10,3435.00,undefined,0,"N,0""",nan,3435.00,3400.00,0
991820324,The Blend CD 2015,Music,Music,USD,2015-05-15,8000.00,2015-04-15 00:07:51,8156.00,undefined,0,"N,0""",nan,8156.00,8000.00,0
992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24,8500.00,2014-11-24 20:47:45,9146.00,undefined,0,"N,0""",nan,9146.00,8500.00,0
994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19,3000.00,2014-07-18 03:42:11,3175.00,undefined,0,"N,0""",nan,3175.00,3000.00,0
994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01,8000.00,2015-12-03 20:25:41,8061.00,undefined,0,"N,0""",nan,8061.00,8000.00,0
994911312,"""Songwriter assistance"" service",Music,Music,CAD,2014-12-22,5000.00,2014-11-22 00:56:04,0.00,undefined,0,"N,0""",nan,0.00,4313.32,0
994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11,6500.00,2015-03-25 03:55:53,6696.00,undefined,0,"N,0""",nan,6696.00,6500.00,0
99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02,3000.00,2015-11-02 09:33:38,3517.00,undefined,0,"N,0""",nan,5324.59,4541.88,0
996908566,The World Needs More Big Thinkers,Publishing,Publishing,USD,2015-09-13,8000.00,2015-07-30 03:01:31,0.00,undefined,0,"N,0""",nan,0.00,8000.00,0
99739483,No More Fear,Music,Music,GBP,2016-04-17,2500.00,2016-03-17 13:43:26,2500.00,undefined,0,"N,0""",nan,3594.48,3594.48,0
997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01,8000.00,2015-01-31 20:58:01,8582.00,undefined,0,"N,0""",nan,8582.00,8000.00,0
997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14,2000.00,2016-04-14 01:27:27,2300.00,successful,0,"N,0""",nan,2300.00,2000.00,0
997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31,5000.00,2015-12-01 00:25:06,6065.26,undefined,0,"N,0""",nan,6065.26,5000.00,0
997971307,"EQUUS International Film Festival®, all-equine...",Film & Video,Film & Video,USD,2015-02-03,7500.00,2014-12-05 04:19:14,10.00,undefined,0,"N,0""",nan,10.00,7500.00,-1
998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,3000.00,2014-04-08 00:30:09,3102.00,undefined,0,"N,0""",nan,2845.61,2752.04,0
9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05,5000.00,2016-01-06 21:59:23,235.00,undefined,0,"N,0""",nan,235.00,5000.00,0
999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2000.00,2015-09-21 22:33:18,2125.00,undefined,0,"N,0""",nan,3273.36,3080.81,0
999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20,1600.00,2015-10-21 21:28:13,0.00,undefined,0,"N,0""",nan,0.00,1710.08,0

In [168]:
kickstarter_2018[kickstarter_2018.usd_pledged.isnull()].describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
count,3797,3797,3797,3797,3797,3797.00,3797,3797.00,3797,3797.00,3797,0.00,3797.00,3797.00,3797.00
unique,3764,28,12,10,722,nan,3797,nan,6,nan,1,nan,nan,nan,nan
top,New EP/Music Development,Music,Music,USD,2015-05-01 00:00:00,nan,2015-10-27 17:00:11,nan,undefined,nan,"N,0""",nan,nan,nan,nan
freq,28,2387,2388,2738,26,nan,1,nan,3562,nan,3797,nan,nan,nan,nan
first,NaN,NaN,NaN,NaN,2012-04-24 00:00:00,nan,2012-03-14 19:05:44,nan,NaN,nan,NaN,nan,nan,nan,nan
last,NaN,NaN,NaN,NaN,2016-07-07 00:00:00,nan,2016-05-21 20:45:12,nan,NaN,nan,NaN,nan,nan,nan,nan
mean,NaN,NaN,NaN,NaN,NaN,5413.35,NaN,3023.26,NaN,0.00,NaN,nan,2949.85,5097.31,-0.01
std,NaN,NaN,NaN,NaN,NaN,37466.24,NaN,44919.41,NaN,0.00,NaN,nan,44881.72,37258.79,0.12
min,NaN,NaN,NaN,NaN,NaN,108.00,NaN,0.00,NaN,0.00,NaN,nan,0.00,85.28,-3.00
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,5.00,NaN,0.00,NaN,nan,5.00,2250.00,0.00
50%,NaN,NaN,NaN,NaN,NaN,3500.00,NaN,640.00,NaN,0.00,NaN,nan,616.00,3583.05,0.00
75%,NaN,NaN,NaN,NaN,NaN,5000.00,NaN,3845.00,NaN,0.00,NaN,nan,3932.23,5208.09,0.00
max,NaN,NaN,NaN,NaN,NaN,1877000.00,NaN,2762571.78,NaN,0.00,NaN,nan,2762571.78,1877000.00,0.00

Interesante, todos los datos pertenecen a un país indeterminado.

Todos los datos de ese "país" no tienen dinero prometido?

In [170]:
kickstarter_2018[(kickstarter_2018.country == 'N,0"') & ~(kickstarter_2018.usd_pledged.isnull())].head()

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd_pledged, usd_pledged_real, usd_goal_real, name_weirdness]
Index: []

A priori como los proyectos no tienen patrocinantes, completamos en 0 los valores

In [171]:
kickstarter_2018 = kickstarter_2018.fillna(0)
missing_values_count = kickstarter_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

Series([], dtype: int64)

In [ ]:
kickstarter_2018.shape

Más métodos disponibles en https://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-missing y http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

## 2.3. Codificar variables

Para trabajar con los algoritmos de aprendizaje automático, las variables categóricas estas deben ser codificadas como variables numéricas, no como cadenas.

Para esta tarea también hay diferentes estrategias, dos comunes son: asociar cadena a número y asociar cadena a columna.

In [ ]:
from sklearn import preprocessing

In [ ]:
kickstarter_2018.describe(include=['O'])

In [ ]:
column='main_category'
# Create a label (category) encoder object
le = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le.fit(kickstarter_2018[column])

In [ ]:
# View encoder mapping
dict(zip(le.classes_,le.transform(le.classes_)))

In [ ]:
# Apply the fitted encoder to the pandas column
kickstarter_2018[column] = le.transform(kickstarter_2018[column]) 
kickstarter_2018.head()

In [ ]:
# Reversing encoding
kickstarter_2018[column] = le.inverse_transform(kickstarter_2018[column]) 
kickstarter_2018.head()

In [ ]:
from sklearn.preprocessing import LabelBinarizer
other_column = 'state'

lb = LabelBinarizer()

lb_results = lb.fit_transform(kickstarter_2018[other_column])
pd.DataFrame(lb_results, columns=((other_column + '_') + pd.Series(lb.classes_))).head(10)

More about preprocessing in http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

#### Ejercicio 4

Codificar `currency` con ambas estrategias

## 2.4. No cambiar los nombres de las variables de la fuente de origen

## 2.5. Verificar la consistencia de las variables
Aplicar reglas de integridad

In [ ]:
kickstarter_2018.head()

¿Hay proyectos sin patrocinadores pero con plata prometida?

In [ ]:
kickstarter_2018[(kickstarter_2018.backers == 0) & (kickstarter_2018.usd_pledged > 0)]

¿Hay proyecto no exitosos que pasaron el objetivo?

In [ ]:
kickstarter_2018[(kickstarter_2018.state != 'successful') & (kickstarter_2018.pledged > kickstarter_2018.goal)]

¿Cómo es, en promedio, la correlación entre el objetivo y la plata obtenida?

In [ ]:
df = kickstarter_2018.groupby('state')[['goal','pledged']].aggregate('mean')
df['pledged'] / df['goal']

¿Cuánta plata se obtiene en promedio por estado y categoría?

In [ ]:
kickstarter_2018.pivot_table(values='usd_pledged',index='state',columns='main_category')

#### Ejercicio 5

1. ¿Hay proyecto éxitosos que no consiguieron el objetivo? Si hay, ¿Qué porcentaje sí y cuál no?
2. Calcular una tabla con la cantidad de proyectos por categoría principal y estado.

## 2.6. Identificar y documentar valores atípicos/outliers

Queremos analizar las características de los proyectos que obtienen dinero pero sin considerar los casos atípicos.

In [ ]:
%matplotlib inline
kickstarter_2018.usd_pledged.hist();

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged');

"There are many rules of thumb for how to define an outlier but there is no silver bullet. One rule of thumb is that any data point that is three standard deviations away from the mean of the same data point for all observations."

In [ ]:
outliers = kickstarter_2018[kickstarter_2018.usd_pledged > (kickstarter_2018.usd_pledged.mean() + 
                                                            3 * kickstarter_2018.usd_pledged.std())]
outliers

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged');

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged',by='state');

Analizar outliers por categorías

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged',by='state');
kickstarter_2018.boxplot(column='usd_goal_real',by='state');

#### Ejercicio 6

Calcular los valores atípicos de 'usd_goal_real' y graficar los boxplots, con y sin estos valores por categoría

## 2.7. Evaluar cómo comprimir los datos 
para su almacenamiento más eficiente.

En la actualidad, en las nubes el almacenamiento no suele ser problema sino la velocidad para leerlo que suele ser determinante a la hora de determinar el formato de almacenamiento.

## 2.8. Guardar el set de datos con un nombre informativo.

EL problema de la ingeniería de software